.content .wsz-25 {
  width: 25px;
}

.content .wsz-50 {
  width: 50px;
}

.content .wsz-100 {
  width: 100px;
}

.content .wsz-150 {
  width: 150px;
}

.content .wsz-200 {
  width: 200px;
}

.content .wsz-250 {
  width: 250px;
}

.content .wsz-300 {
  width: 300px;
}

.content .wsz-350 {
  width: 350px;
}

.content .wsz-400 {
  width: 400px;
}

.content .wsz-450 {
  width: 450px;
}

.content .wsz-500 {
  width: 500px;
}

.content .wsz-550 {
  width: 550px;
}

.content .wsz-600 {
  width: 600px;
}

.content .wsz-650 {
  width: 650px;
}

.content .wsz-700 {
  width: 700px;
}

.content .wsz-750 {
  width: 750px;
}

.content .hsz-25 {
  height: 25px;
}

.content .hsz-50 {
  height: 50px;
}

.content .hsz-100 {
  height: 100px;
}

.content .hsz-150 {
  height: 150px;
}

.content .hsz-200 {
  height: 200px;
}

.content .hsz-250 {
  height: 250px;
}

.content .hsz-300 {
  height: 300px;
}

.content .hsz-350 {
  height: 350px;
}

.content .hsz-400 {
  height: 400px;
}

.content .hsz-450 {
  height: 450px;
}

.content .hsz-500 {
  height: 500px;
}

.content .hsz-550 {
  height: 550px;
}

.content .hsz-600 {
  height: 600px;
}

.content .hsz-650 {
  height: 650px;
}

.content .hsz-700 {
  width: 700px;
}

.content .hsz-750 {
  height: 750px;
}
