@import './component-settings-styles/size.css';
@import './component-settings-styles/block-align-horizontal.css';
@import './component-settings-styles/block-align-vertical.css';

.content {
  margin: 10px 2px;
  padding: 2px;
  box-sizing: border-box;
  max-width: 70vw;
  max-height: 80vh;
  overflow-x: auto;
  overflow-y: auto;
}

.content * {
  min-height: 10px;
  margin: 2px;
  box-sizing: border-box;
}

.content .row {
  min-height: 30px;
}

.content .col {
  min-height: 30px;
}

.content *:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.content .active {
  border: 2px solid lightcoral;
}
